@use '../../css/main' as *;

.blog-section {
	margin: 0.5rem;
	padding: 0.5rem;
	border-radius: $big-radius;

	background-color: $light-accent;
	h2 {
		@include sub-heading;
		margin: 0.5rem 0px;
	}

	p,
	span {
		@include paragraph;
	}
}
