@use '../../css/main' as *;

.who-are-we {
	@include section;
	* {
		margin: 0.5em 0px;
	}

	h2 {
		@include sub-heading;
	}

	p {
		@include paragraph;
	}

	.who-are-we-section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	img {
		max-width: 100%;
		border-radius: $small-radius;
	}
}

@media only screen and (min-width: 768px) {
	.who-are-we {
		.who-are-we-section {
			flex-direction: row;

			&:last-child {
				flex-direction: row-reverse;
			}

			div {
				width: 50%;
				margin: 0px 0.5rem;
			}
		}
	}
}
