@use '../main' as *;

.who-are-we {
	@include section;
	* {
		margin: 0.5em 0px;
	}

	h2 {
		@include sub-heading;
	}

	p {
		@include paragraph;
	}

	.who-are-we-section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.who-are-we-image {
		border-radius: $small-radius;
	}
}
.who-are-we-image-container {
}

@media only screen and (min-width: 768px) {
	.who-are-we {
		.who-are-we-section {
			flex-direction: row;
			justify-content: space-around;

			&:last-child {
				flex-direction: row-reverse;
				justify-content: space-around;
			}

			div {
				width: 50%;
				margin: 0px 0.5rem;
				padding: 0px 2.5%;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
		.who-are-we-image {
			border-radius: $small-radius;

			height: 280px;
		}
	}
}

@media only screen and (min-width: 768px) {
	.who-are-we {
		.who-are-we-image {
			height: 380px;
		}
	}
}
